API_KEY.txt
VideoCapture.jpg
CaptureImage.jpg
recognized.txt
recognizedpdf.pdf
Assets/4ad38ec034aa6e85bc88dc8b57f16019.jpg
Assets/quote-luck-is-when-skill-meets-opportunity-vinnie-paz-80-71-88.jpg
Assets/download.jpeg
VirtualAssistant.py
__pycache__/border_crop.cpython-38.pyc
__pycache__/FaceDetection.cpython-38.pyc
__pycache__/weather.cpython-38.pyc
test.py
gatherImages.py
facecmp.py
testimage.jpg
